$primary: #3F51B5;
$white: #fff;

@import 'home';
@import 'about';
@import 'kits';
@import 'learn';

body {
  font-family: "Open Sans", sans-serif;
  background-color: $white;
  color: $primary;
  text-align: center
}
