.navbar {
  margin: 0 !important;
  width: 100%;
  position: fixed;
  opacity: .8,
}

.nav-logo {
  height: 2em !important;
}

.home-logo {
  margin-top: 5em;
  height: 4em !important;
}

.right {
  position: fixed;
  height: 2em;
  right: 0;
  margin: 0 4em;
}

.margin-left {
  margin-left: 4em;
}

.top-title {
  h1 {
    margin-top: 3em;
  }

  p {
    margin: 0 0 3em;
  }

  .checkout {
    button {
      margin: 2em 1em;
    }
  }
}
