<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button class="btn btn-secondary" ng-click="route('home')">Lidget</Button>
	</div>
  <div class="collapse navbar-collapse right" uib-collapse="isNavCollapsed">
		<ul class="nav navbar-nav">
      <button class="btn btn-secondary" ng-click="route('learn')">Learn</Button>
      <button class="btn btn-secondary" ng-click="route('kits')">Kits</Button>
      <button class="btn btn-secondary" ng-click="route('about')">About</Button>
		</ul>
	</div>
</nav>
