<div ng-if="show('about')" class="row top-title about">
  <h1>About Us</h1>
  <hr />
  <div class="jumbotron padding">
    <h3>Our Mission</h3>
    <h5>Lidget is more than just a fidget spinner. Our product is designed to challenge people to create, customize, and innovate by providing unique fidget tools that challenge the status quo. At our core we inspire builders. By providing tools to understand the physics behind a Fidget Spinner and then build it into their Lego creations.</h5>
    <hr />
    <h3>Our Founders</h3>
    <h4>Robert and John Hogue<br>Walter Hardy<br>Nathan Iarve</h4>
    <hr />
    <h4>Special Shout Out to Columbus StartUp Weekend!</h4>
    <hr />
    <h5>Join our mailing list!</h5>
    <a href="http://lidget.us16.list-manage.com/subscribe?u=f5562848e7ea1d36036493843&id=49e7705cde"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
  </div>
</div>
