<div ng-if="show('home')" class="row top-title">
  <img class="home-logo" src="assets/logo.png" />
  <p>Build, Customize, Learn</p>
  <iframe width="700" height="400" src="https://www.youtube.com/embed/_9EaK3fES5A" frameborder="0" allowfullscreen></iframe>
  <div class="row checkout">
    <button type="button" class="btn btn-primary" ng-click="route('learn')">
       Learn the science
    </button>
    <button type="button" class="btn btn-primary" ng-click="route('kits')">
      Check out our products
    </button>
 </div>
</div>
