<div ng-if="show('kits')" class="row top-title kits">
  <h1>Kits</h1>
  <hr />

  <div class="jumbotron kit" ng-repeat="kit in kits">
    <div class="container">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#"><img class="media-object" src="{{kit.image}}" /></a>
        </div>
        <div class="media-body">
          <div class="media-left left-align">
            <h4>{{kit.name}}</h4>
            <h6>{{kit.description}}</h6>
            <h6>Price: ${{kit.cost}}</h6>
          </div>
          <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
            target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="SABFUZF2MYYUG">
            <table>
            <tr><td><input type="hidden" name="on0"
            value="Color">Color</td></tr><tr><td><select name="os0">
            <option value="White">White $11.99 USD</option>
            <option value="Red">Red $11.99 USD</option>
            <option value="Blue">Blue $11.99 USD</option>
            <option value="Glow in the dark">Glow in the dark $13.99 USD</option>
            </select> </td></tr>
            </table>
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" id="image"
            src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
            border="0" name="submit" alt="PayPal - The safer, easier way to pay
            online!">
            <img alt="" border="0"
            src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
            height="1">
          </form> -->
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="SABFUZF2MYYUG">
<table>
<tr><td><input type="hidden" name="on0"
value="Color">Color</td></tr><tr><td><select name="os0">
<option value="White">White $9.99 USD</option>
<option value="Red">Red $9.99 USD</option>
<option value="Blue">Blue $9.99 USD</option>
<option value="Glow in the dark">Glow in the dark $10.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" id="image"
src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
border="0" name="submit" alt="PayPal - The safer, easier way to pay
online!">
<img alt="" border="0"
src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
height="1">
</form>
        </div>
      </div>
    </div>
  </div>
</div>
